---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/442232?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"442232":{"id":442232,"name":"aphromoo","profileIconId":21,"summonerLevel":30,"revisionDate":1432658743000}}'
  recorded_at: Tue, 26 May 2015 21:16:07 GMT
recorded_with: VCR 2.9.3
