!!! 5
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{http-equiv: "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{name: "description", content: "League of Legends scores, rankings, and statistics"}
    %meta{name: "author", content: "Jonmichael Chambers (github.com/tyrbo)"}

    %title Lolsummoners

    - css_path = static_path(@conn, "/css/app.css")
    %link{rel: "stylesheet", href: css_path}

  %body
    .container
      .row
        .col-sm-8.col-sm-offset-2
          .dashhead
            .dashhead-titles
              %h6.dashhead-subtitle Rankings
              %h2.dashhead-title All Regions

            .btn-toolbar.dashhead-toolbar
              - # %form{method: "get", action: "/search"}
              - #   .btn-toolbar-item.input-with-icon
              - #     %input{type: "text"}.form-control
              - #     %span.icon.icon-magnifying-glass

          = render @view_module, @view_template, assigns

    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}

    - js_path = static_path(@conn, "/js/app.js")
    %script{src: js_path}
