---
http_interactions:
- request:
    method: get
    uri: https://prod.api.pvp.net/api/lol/na/v1.4/summoner/by-name/pentakill?api_key=20278aab-6dd9-4ed5-9e92-da38dbbcc62c
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"pentakill":{"id":27745418,"name":"Pentakill","profileIconId":28,"summonerLevel":30,"revisionDate":1391858076000}}'
  recorded_at: Tue, 10 Jun 2014 17:33:27 GMT
recorded_with: VCR 2.9.2
