---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/pentakill,peak?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"pentakill":{"id":27745418,"name":"Pentakill","profileIconId":28,"summonerLevel":30,"revisionDate":1419967355000},"peak":{"id":21848947,"name":"Peak","profileIconId":28,"summonerLevel":30,"revisionDate":1429234437000}}'
  recorded_at: Thu, 21 May 2015 02:16:58 GMT
recorded_with: VCR 2.9.3
