---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/pentakill?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"pentakill":{"id":27745418,"name":"Pentakill","profileIconId":28,"summonerLevel":30,"revisionDate":1405040340000}}'
  recorded_at: Fri, 11 Jul 2014 19:04:11 GMT
recorded_with: VCR 2.9.2
