---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/by-name/pentakill,peak?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"pentakill":{"id":27745418,"name":"Pentakill","profileIconId":28,"summonerLevel":30,"revisionDate":1405917974000},"peak":{"id":21848947,"name":"Peak","profileIconId":28,"summonerLevel":30,"revisionDate":1413917344000}}'
  recorded_at: Mon, 03 Nov 2014 21:15:07 GMT
recorded_with: VCR 2.9.2
