---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/21848947,442232?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"442232":{"id":442232,"name":"aphromoo","profileIconId":621,"summonerLevel":30,"revisionDate":1414743951000},"21848947":{"id":21848947,"name":"Peak","profileIconId":28,"summonerLevel":30,"revisionDate":1413917344000}}'
  recorded_at: Mon, 03 Nov 2014 21:14:58 GMT
recorded_with: VCR 2.9.2
