---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v1.4/summoner/21848947?api_key=11270efd-6cbd-42c0-a55f-0ebae96feb24
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"21848947":{"id":21848947,"name":"Peak","profileIconId":28,"summonerLevel":30,"revisionDate":1405044014000}}'
  recorded_at: Fri, 11 Jul 2014 15:30:13 GMT
recorded_with: VCR 2.9.2
