---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/league/by-summoner/21848947,442232/entry?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"442232":[{"name":"Sivir''s Defiants","tier":"DIAMOND","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"442232","playerOrTeamName":"aphromoo","division":"II","leaguePoints":25,"wins":230,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]},{"name":"Caitlyn''s
        Heralds","tier":"GOLD","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-08030190-862a-11e3-a1c2-782bcb4d1861","playerOrTeamName":"Kappa
        Negro Banerino","division":"V","leaguePoints":75,"wins":7,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]}],"21848947":[{"name":"Tryndamere''s
        Barbarians","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"21848947","playerOrTeamName":"Peak","division":"II","leaguePoints":75,"wins":10,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]}]}'
  recorded_at: Mon, 27 Oct 2014 16:11:26 GMT
recorded_with: VCR 2.9.2
