---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/league/by-summoner/21848947,442232/entry?api_key=11270efd-6cbd-42c0-a55f-0ebae96feb24
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"442232":[{"name":"Taric''s Enforcers","tier":"CHALLENGER","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"442232","playerOrTeamName":"aphromoo","division":"I","leaguePoints":889,"wins":201,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false}]},{"name":"Varus''s
        Villains","tier":"SILVER","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-964d79b0-7aa1-11e3-a762-782bcb4d0bb2","playerOrTeamName":"Tobi
        with a W","division":"II","leaguePoints":75,"wins":3,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]},{"name":"Caitlyn''s
        Heralds","tier":"GOLD","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-08030190-862a-11e3-a1c2-782bcb4d1861","playerOrTeamName":"Kappa
        Negro Banerino","division":"I","leaguePoints":25,"wins":7,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]}],"21848947":[{"name":"Tryndamere''s
        Deceivers","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"21848947","playerOrTeamName":"Peak","division":"I","leaguePoints":0,"wins":8,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]},{"name":"Jarvan
        IV''s Lancers","tier":"GOLD","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-fe57e300-b3d7-11e3-a02a-782bcb4d0bb2","playerOrTeamName":"fecal
        fingers","division":"IV","leaguePoints":75,"wins":46,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]}]}'
  recorded_at: Fri, 11 Jul 2014 15:16:15 GMT
[...]
