---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/by-summoner/20132258,442232/entry?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"20132258":[{"name":"Riven''s Cutthroats","tier":"CHALLENGER","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"20132258","playerOrTeamName":"Doublelift","division":"I","leaguePoints":1276,"wins":111,"losses":45,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]},{"name":"Fizz''s
        Scouts","tier":"DIAMOND","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-1e965160-c7a0-11e4-8e3e-c81f66ddabda","playerOrTeamName":"Acolyte
        of Peng","division":"III","leaguePoints":0,"wins":17,"losses":0,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]}],"442232":[{"name":"Riven''s
        Cutthroats","tier":"CHALLENGER","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"442232","playerOrTeamName":"aphromoo","division":"I","leaguePoints":560,"wins":189,"losses":157,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false}]},{"name":"Fizz''s
        Scouts","tier":"DIAMOND","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-1e965160-c7a0-11e4-8e3e-c81f66ddabda","playerOrTeamName":"Acolyte
        of Peng","division":"III","leaguePoints":0,"wins":17,"losses":0,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]},{"name":"Nami''s
        Enforcers","tier":"CHALLENGER","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-9ea06c50-c36e-11e4-bc7e-c81f66ddabda","playerOrTeamName":"The
        Expendables6","division":"I","leaguePoints":598,"wins":54,"losses":15,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]}]}'
  recorded_at: Thu, 21 May 2015 02:16:58 GMT
recorded_with: VCR 2.9.3
