---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/league/by-summoner/21848947/entry?api_key=20278aab-6dd9-4ed5-9e92-da38dbbcc62c
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"21848947":[{"name":"Tryndamere''s Deceivers","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"21848947","playerOrTeamName":"Peak","division":"I","leaguePoints":53,"wins":8,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]},{"name":"Jarvan
        IV''s Lancers","tier":"GOLD","queue":"RANKED_TEAM_5x5","entries":[{"playerOrTeamId":"TEAM-fe57e300-b3d7-11e3-a02a-782bcb4d0bb2","playerOrTeamName":"fecal
        fingers","division":"IV","leaguePoints":72,"wins":43,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false}]}]}'
  recorded_at: Tue, 10 Jun 2014 17:59:29 GMT
recorded_with: VCR 2.9.2
