---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.5/league/by-summoner/21848947/entry?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"21848947":[{"name":"Tryndamere''s Barbarians","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"21848947","playerOrTeamName":"Peak","division":"II","leaguePoints":75,"wins":10,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":true}]}]}'
  recorded_at: Mon, 03 Nov 2014 21:15:07 GMT
recorded_with: VCR 2.9.2
