<div class="hr-divider m-b-md m-t">
  <ul class="nav nav-pills hr-divider-content hr-divider-nav">
    <li class="active">
      <a href="#">Stats</a>
    </li>

    <li>
      <a href="#">Breakdown</a>
    </li>
  </ul>
</div>

<div class="row text-center">
  <div class="col-xs-12 col-md-3">
    <div class="statcard">
      <div class="p-a">
        <div class="statcard-desc">
          Players
        </div>

        <h2 class="statcard-number">
          0
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="statcard">
      <div class="p-a">
        <div class="statcard-desc">
          Leagues
        </div>

        <h2 class="statcard-number">
          0
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="statcard">
      <div class="p-a">
        <div class="statcard-desc">
          New
        </div>

        <h2 class="statcard-number">
          0
        </h2>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="statcard">
      <div class="p-a">
        <div class="statcard-desc">
          Updates
        </div>

        <h2 class="statcard-number">
          0
        </h2>
      </div>
    </div>
  </div>
</div>

<hr class="m-t-md m-b-md">

{{outlet}}
