---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/league/by-summoner/21848947?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"21848947":[{"name":"Tryndamere''s Barbarians","tier":"GOLD","queue":"RANKED_SOLO_5x5","entries":[{"playerOrTeamId":"20334698","playerOrTeamName":"Kastine","division":"I","leaguePoints":0,"wins":31,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"45554807","playerOrTeamName":"BaNNeD
        SuBsTaNcE","division":"V","leaguePoints":0,"wins":183,"isHotStreak":false,"isVeteran":false,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"30600679","playerOrTeamName":"Skynami","division":"II","leaguePoints":56,"wins":83,"isHotStreak":true,"isVeteran":true,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"47025436","playerOrTeamName":"Darklight7","division":"II","leaguePoints":100,"wins":65,"isHotStreak":true,"isVeteran":false,"isFreshBlood":false,"isInactive":false,"miniSeries":{"target":2,"wins":0,"losses":0,"progress":"NNN"}},{"playerOrTeamId":"39901172","playerOrTeamName":"bloodzhot","division":"IV","leaguePoints":74,"wins":177,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"134961","playerOrTeamName":"Delath","division":"II","leaguePoints":44,"wins":68,"isHotStreak":false,"isVeteran":true,"isFreshBlood":false,"isInactive":false},{"playerOrTeamId":"19228273","playerOrTeamName":"Sandar","division":"V","leaguePoints":7,"wins":108,"isHotStreak":false,"isVeteran":[...]
