.content-container.clearfix
  .header Statistics

  %table.col-md-12.ladder
    %thead
      %tr
        %th.col-md-7 Tier
        %th.col-md-5 Count

    %tbody
      %tr
        %td.name Bronze
        %td 200,000 (5%)
