---
http_interactions:
- request:
    method: get
    uri: https://na.api.pvp.net/api/lol/na/v2.4/league/by-summoner/442232,21848947?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"20156016":{"id":20156016,"name":"willxo","profileIconId":552,"summonerLevel":30,"revisionDate":1405744918000}}'
  recorded_at: Mon, 21 Jul 2014 01:49:25 GMT
recorded_with: VCR 2.9.2
