.league {
  margin-top: 18px;
  padding-bottom: 6px;
  text-align: center;

  .league-icon {
    margin-top: -12px;
  }

  .division {
    .btn {
      background: #fff;
      border: 1px solid #222222;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      font-size: 30px;
      font-family: 'Fenix';
      color: black;

      &:hover {
        color: black;
      }
    }
  }

  .description {
    .name {
      font-size: 20px;
      font-weight: bold;
    }

    .tier {
      margin-top: -10px;
      font-size: 18px;
      font-weight: normal;
    }
  }
}

div.emblems {
  background: image-url('emblems.png');
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
  margin: -9px 3px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -ms-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;

  &.freshblood {
    background-position: -72px -30px;

    &.active {
      background-position: -72px 0;
    }
  }

  &.veteran {
    background-position: 0 -30px;

    &.active {
      background-position: 0 0;
    }
  }

  &.winstreak {
    background-position: -31px -30px;

    &.active {
      background-position: -31px 0;
    }
  }
}

.best-of {
  background: image-url('best-of.png');
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  margin: -9px 3px;

  &.win {
    background-position: 0 -1px;
  }

  &.loss {
    background-position: -30px 4px;
  }

  &.blank {
    background-position: -58px 9px;
  }
}

tbody.by-rank {
  display: none;
}

ul.dropdown-menu a {
  cursor: pointer;
}

/*Tipsy style*/

.tipsy { font-size: 12px; position: absolute; padding: 5px; z-index: 1000000; }
.tipsy-inner {background: #fb9f32;
  background: -webkit-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
  background: -moz-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
  background: -o-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
  background: -ms-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
  background: linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
  font-weight: bold;
  color: #000; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center;
box-shadow:0px 0px 5px #000;}

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #ff8a01; }
.tipsy-arrow-s { border-top-color: #ff8a01; }
.tipsy-arrow-e { border-left-color: #ff8a01; }
.tipsy-arrow-w { border-right-color: #ff8a01; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
