html, body
{
  background: image-url("bg-texture.png") #000 repeat;
  color: #FFF;
  font-family: Arial;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.banner {
  background: image-url("banner-940.png") no-repeat;
  height: 100%;
  position: relative;
}

.surround {
  background: image-url("container-pattern.png") #252525;
  border-bottom: 1px solid #131313;
  border-left: 2px solid #131313;
  border-right: 2px solid #131313;
  padding-bottom: 25px;
  -webkit-box-shadow: 0 0 50px #0c9eb5;
  -moz-box-shadow: 0 0 50px #0c9eb5;
  box-shadow: 0 0 50px #0c9eb5;
}

.navbar-toggle {
  border: 1px solid #0477ba;
}

.navbar-toggle .icon-bar {
  background: #0477ba;
}

nav.navbar {
  background: image-url("bg-navigation.jpg") repeat-x;
  border-top: 2px solid #5b5757;
  font-size: 12px;

  ul li {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    a {
      color: white;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }

    &:hover {
      -webkit-box-shadow: -1px 0 0 #000, -2px 0 0 #2c2c2c, 1px 0 0 #000, 2px 0 0 #2c2c2c, inset 0 0 10px #000;
      -moz-box-shadow: -1px 0 0 #000, -2px 0 0 #2c2c2c, 1px 0 0 #000, 2px 0 0 #2c2c2c, inset 0 0 10px #000;
      box-shadow: -1px 0 0 #000, -2px 0 0 #2c2c2c, 1px 0 0 #000, 2px 0 0 #2c2c2c, inset 0 0 10px #000;
    }
  }
}

input.search {
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #777;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 32px;
  padding-left: 10px;
  color: #000000;
}

input.submit {
  float: left;
  background: image-url("btn-search.png");
  border: 0;
  cursor: pointer;
  height: 32px;
  margin-left: 5px;
  text-align: center;
  width: 32px;
}

select.search {
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-right: 5px;
  height: 32px;
  color: #000;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.arrow-bar {
  .arrow {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #0477ba;
    position: relative;
    top: -8px;
    left: 50px;
    z-index: 301;

    &.stats {
      left: 196px;
    }

    &.contact {
      left: 276px;
    }
  }

  position: relative;
  z-index: 300;
  background: #0477ba;
  height: 6px;
  margin-top: -4px;
}

.region-picker {
  margin: 10px 0;

  .btn {
    background: #fff;
    color: #000;
  }
}

.field_with_errors input,textarea {
  border: 1px solid red;
}

.form-group label {
  font-size: 16px;
}

.content-container {
  background-color: #0f0f0f;
  border: 1px solid black;
  -webkit-box-shadow: 0px 0px 0px 1px #323232;
  -moz-box-shadow: 0px 0px 0px 1px #323232;
  box-shadow: 0px 0px 0px 1px #323232;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;

  .header {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: -3px -3px 0 -3px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #002033;
    height: 40px;
    text-shadow: 1px 1px 0px #006ead;

    background: #0477ba;
    background: -webkit-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: -moz-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: -o-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: -ms-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: linear-gradient(top, #0477ba 2%, #013c5e 98%);
    -webkit-box-shadow: 0px 0px 0px 1px #121212;
    -moz-box-shadow: 0px 0px 0px 1px #121212;
    box-shadow: 0px 0px 0px #121212;
    border-bottom: 1px solid black;
  }
}

footer
{
  //background-image: image-url('bg-footer.png');
  background-position: center;
  height: 135px;
  padding-top: 20px;

  a, h1 {
    filter: dropshadow(color=#000293, offx=1, offy=1);
    font-weight: 700;
    text-shadow: 1px 1px 1px #000293;
    color: #fff;
  }
  a, h1, p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  h1
  {
    font-size: 1.5em;
  }

  p {
    margin-top: 5px;
  }

  a {
    font-size: 1.2em;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

table.ladder {
  width: 100%;

  thead {
    tr {
      padding: 10px 0;
      background: #fb9f32;
      background: -webkit-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
      background: -moz-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
      background: -o-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
      background: -ms-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
      background: linear-gradient(top, #fb9f32 2%, #ff8a01 98%);

      th {
        padding: 12px 0;
        font-size: 14px;
        font-weight: bold;
        color: black;
        text-shadow: 1px 1px 0px #fdc620;
        text-align: center;
      }
    }
  }

  tr {
    border-bottom: 1px solid #2a2a2a;

    &:nth-child(odd) {
      background-color: #000000;
    }

    &:nth-child(even) {
      background-color: #111111;
    }

    td {
      padding: 18px 0;
      text-align: center;
      border-right: 1px solid #2a2a2a;

      &.rank, &.name, &.name a {
        color: orange;
      }

      &.name {
        font-weight: bold;
      }

      &.wins {
        color: #12ff00;
      }

      &.points {
        color: #616161;
      }
    }
  }
}

.ladder-pagination {
  margin: 10px 0;
}

.ladder-nav-button {
  padding: 9px 0;
  text-align: center;
  width: 110px;
  color: white;

  background: rgb(0,0,0);
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 98%);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 98%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 98%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 98%);
  background: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(36,36,36,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#242424', GradientType=0);

  border: 1px solid #000;
  -webkit-box-shadow: 0px 0px 0px 1px #474646;
  -moz-box-shadow: 0px 0px 0px 1px #474646;
  box-shadow: 0px 0px 0px 1px #474646;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}
