.ratings {
  margin-top: 10px;

  .rating {
    background-color: #003b52;
    text-align: center;

    .queue-type {
      background-color: #0a2533;
      border-bottom: 1px solid black;
      -webkit-box-shadow: 0 0 0 1px #121212;
      -moz-box-shadow: 0 0 0 1px #121212;
      box-shadow: 0 0 0 1px #121212;
      font-weight: bold;
      padding: 10px 0;
    }

    .points {
      font-size: 14px;
      margin-top: 18px;
      text-align: center;
    }

    .rank {
      .title {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}

.profile-nav {
  .profile-name {
    position: absolute;
    top: -25px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding-left: 10px;
      height: 36px;
      border-bottom: 1px solid black;
      -webkit-box-shadow: 0 1px 0 0 #323232;
      -moz-box-shadow: 0 1px 0 0 #323232;
      box-shadow: 0 1px 0 0 #323232;
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      -o-transition: all .1s ease;
      -ms-transition: all .1s ease;
      transition: all .1s ease;
      line-height: 39px;
      font-size: 14px;

      a {
        cursor: pointer;
        color: white;
        &:hover {
          text-decoration: none;
        }
      }

      span {
        margin-right: 5px;
        color: #0477ba;
      }

      &.active {
        font-weight: bold;
      }

      &:hover, &.active {
        background: #0477ba;
        background: -webkit-linear-gradient(top, #0477ba 2%, #013c5e 98%);
        background: -moz-linear-gradient(top, #0477ba 2%, #013c5e 98%);
        background: -o-linear-gradient(top, #0477ba 2%, #013c5e 98%);
        background: -ms-linear-gradient(top, #0477ba 2%, #013c5e 98%);
        background: linear-gradient(top, #0477ba 2%, #013c5e 98%);
        color: #002033;
        text-shadow: 1px 1px 0 #006ead;

        span {
          color: #002033;
        }
      }
    }
  }
}
