.news {
  background-color: #141615;
  border: 1px solid rgb(17, 17, 17);

  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

  .ribbon {
    margin-left: -22px;
    margin-top: -12px;
    position: absolute;
    z-index: 1;

    .rib {
      background: image-url('ribbon.png');
      float: left;

      &.beg {
        background-position: -9px -120px;
        height: 53px;
        width: 26px;
      }

      &.cont {
        background-position: 0 -53px;
        font-weight: bold;
        height: 49px;
        line-height: 44px;
        padding: 0 13px 0 0;
        text-shadow: 1px 1px 2px #20211D;
      }

      &.end {
        background-position: 0 -1px;
        height: 50px;
        width: 22px;
      }
    }
  }

  .top-border {
    background: #0477ba;
    background: -webkit-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: -moz-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: -o-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: -ms-linear-gradient(top, #0477ba 2%, #013c5e 98%);
    background: linear-gradient(top, #0477ba 2%, #013c5e 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0477ba', endColorstr='#013c5e',GradientType=0 );
    height: 5px;
  }

  &.type-2
  {
    .rib {
      &.beg {
        background-position: -9px -298px;
      }

      &.cont {
        background-position: 0 -245px;
      }

      &.end {
        background-position: 0 -192px;
      }
    }

    .top-border {
      background: #ffa61b;

      background: -webkit-linear-gradient(top, #ffa61b 1%, #fb7100 100%);
      background: -moz-linear-gradient(top, #ffa61b 1%, #fb7100 100%);
      background: -o-linear-gradient(top, #ffa61b 1%, #fb7100 100%);
      background: -ms-linear-gradient(top, #ffa61b 1%, #fb7100 100%);
      background: linear-gradient(top, #ffa61b 1%, #fb7100 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa61b', endColorstr='#fb7100',GradientType=0 );
    }

    .title {
      border-bottom: 2px dotted #fb7100;
      color: #fb7100;
    }
  }

  .title {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 40px;
    padding-bottom: 10px;

    a {
      border-bottom: 2px dotted #0477ba;
      color: #0477ba;
      font-size: 32px;
      font-weight: bold;
      text-shadow: 1px 1px 2px #000;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .content {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    padding: 0 40px;
    text-shadow: 1px 1px 2px #000;
  }
}

.top-players {
  margin-right: 10px;
  margin-left: 10px;

  h1 {
    font-size: 20px;
    text-align: center;
  }

  table {
    width: 100%;

    thead {
      tr {
        background: #fb9f32;
        background: -webkit-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
        background: -moz-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
        background: -o-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
        background: -ms-linear-gradient(top, #fb9f32 2%, #ff8a01 98%);
        background: linear-gradient(top, #fb9f32 2%, #ff8a01 98%);

        th {
          padding: 12px 0;
          padding-left: 12px;
          font-size: 14px;
          font-weight: bold;
          color: black;
          text-shadow: 1px 1px 0px #fdc620;

          .rank {
            width: 15%;
          }

          .summoner {
            width: 70%;
          }

          .points {
            width: 15%;
          }
        }
      }
    }

    tr {
      border-bottom: 1px solid #2a2a2a;

      td {
        padding:18px 0;
        text-align: center;
        border-right: 1px solid #2a2a2a;
        box-shadow: inset 2px 0px 0px #000;
      }

      td:first-child {
        color: orange;
        box-shadow: inset 1px 0px 0px #000;
      }

      td:nth-child(2) {
        a{
          color: orange;
          font-weight: bold;
        }
      }

      td:nth-child(3){
        color: #616161;
      }
    }

    tr:nth-child(odd) {
      background-color: #000000;
    }

    tr:nth-child(even) {
      background-color: #111111;
    }
  }
}

.posts-pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
  }
  a {
    color: #0063dc;
    text-decoration: none;
    &:hover, &:focus {
      border-color: #003366;
      background: #0063dc;
      color: white;
    }
  }
  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page {
    border-width: 2px;
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em;
  }
}
