<div class="content-container clearfix">
  <script language="JavaScript" type="text/javascript">
var prot = document.location.protocol;
document.write('<script language="JavaScript" type="text/javascript"'); document.write('src="'+prot+'//ads-by.madadsmedia.com/tags/18091/8153/async/300x250.js">'); document.write('<\/scr' + 'ipt>');
  </script>
</div>
